{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% load socialaccount %}
{% block content %}
<div class="container">
<!-- Material form login -->
<div class="card mt-3">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Sign in</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0 mt-3">

    <form method="post">
      {% csrf_token %} {{ form|crispy }}
      <!-- Sign in button -->
      <div class="text-center">
        <button class="btn btn-primary btn-rounded" type="submit">Sign in</button>
      <!-- Register -->
      <p>Not a member?
        <a href="{% url 'signup' %}">Register</a>
      </p>
      </div>
<div class="text-center">
        <!-- Social login -->
        <p>or sign in with:</p>
        <!-- <a type="button" class="btn-floating btn-fb btn-sm">
          <i class="fab fa-facebook-f"></i>
        </a> -->
        <a type="button" class="btn-floating btn-gplus btn-sm" href="{% provider_login_url 'google' %}">
          <i class="fab fa-google"></i>
        </a>
        <!-- <a type="button" class="btn-floating btn-li btn-sm">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a type="button" class="btn-floating btn-git btn-sm">
          <i class="fab fa-github"></i>
        </a> -->
</div>

    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form login -->
</div>
{% endblock content %}
