{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
  <!-- Material form register -->
  <div class="card mt-3">
    <h5 class="card-header info-color white-text text-center py-4">
      <strong>Sign up</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
      <!-- Form -->
      <form method="POST">
        {% csrf_token %} {{ form|crispy }}

        <div class="text-center">
          <!-- Sign up button -->
          <button class="btn btn-primary btn-rounded" type="submit">
            Sign Up
          </button>
        </div>
        <div class="text-center">
          <!-- Register -->
          <p>
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
          </p>
          <!-- Social register -->
          <p>or sign up with:</p>

          <a type="button" class="btn-floating btn-fb btn-sm">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a type="button" class="btn-floating btn-tw btn-sm">
            <i class="fab fa-twitter"></i>
          </a>
          <a type="button" class="btn-floating btn-li btn-sm">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a type="button" class="btn-floating btn-git btn-sm">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <hr />

        <!-- Terms of service -->
        <p>
          By clicking <em>Sign up</em> you agree to our
          <a href="" target="_blank">terms of service</a>
        </p>
      </form>

      <!-- Form -->
    </div>
  </div>
  <!-- Material form register -->
</div>
{% endblock content %}
