.navbar {
    background-color: #7353af !important;
    font-size: bold !important;
}
.mynav {
    background-color:transparent !important; 
}
/* hero */
.myhero {
    height: 70vh;
    width: 100%;
    background:url('../safe-zone-animation.gif') no-repeat center center/cover;
}